#box{
   
   text-align: center;
   display: inline-block;

}
body{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:burlywood;
}
#header{
    color: blue;
}
#heading{
    background-color: aquamarine;
}

.button{
    display: inline-block;
    background-color: black;
    color: yellow;
    margin-top: 20px;
}